*{
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  /* Light Theme */
  --color-accent: #ffc107; 
  --color-bg: #dcdcdc;
  --color-card-bg: #d2d4d7;
  --color-text-main: #222b3a;
  --color-text-secondary: #a4a7ae;
}

[data-theme="dark"] {
  /* Dark Theme */
  --color-accent: #ffc107; 
  --color-bg: #0d131d;
  --color-card-bg: #222b3a;
  --color-text-main: #d5d7da;
  --color-text-secondary: #8c919a;
}

