.banner {
  background-image: url('../../assets/weather.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.current-temp-card-container {
  left: 50px;
  background-color: #fffef7;
  width: 200px;
  height: 70%;
}

.current-temp-card {
  position: relative;
}

.favorite-star {
  top: 0.3rem;
  right: 0.3rem;
  font-size: 2rem;
  color: #ffc107;
  z-index: 1;
}

.card-title {
  width: 85%;
}

.current-icon {
  height: 60px;
}